button {
  outline: none;
  border: 0;
  cursor: pointer;
  font: inherit;
}

.habit {
  list-style: none;
  font-size: 2.5rem;
  padding: 1rem;
}

.habit-count {
  background: pink;
}

.habit-button {
  margin: 0 0.2rem;
  color: white;
}

.habit-button:hover {
  opacity: 0.7;
}

.habit-increase,
.habit-decrease {
  background: orange;
}

.habit-delete {
  background: red;
}
